/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&none    &kp N1  &kp N2  &kp N3    &kp N4     &kp N5                                        &kp N6             &kp N7     &kp N8    &kp N9  &kp N0  &none
&kp TAB  &kp Q   &kp W   &kp F     &kp P      &kp LEFT_BRACKET                              &kp RIGHT_BRACKET  &kp L      &kp U     &kp Y   &kp J   &kp BACKSPACE
&kp M    &kp A   &kp R   &kp S     &kp T      &kp COMMA                                     &kp PERIOD         &kp N      &kp E     &kp I   &kp O   &kp G
&kp ESC  &kp Z   &kp X   &kp C     &kp D      &kp SEMICOLON     &kp SLASH    &kp BACKSLASH  &kp COMMA          &kp H      &kp K     &kp B   &kp V   &kp RIGHT_GUI
                 &none   &kp LALT  &kp LCTRL  &kp LEFT_SHIFT    &kp SPACE    &kp ENTER      &kp RIGHT_SHIFT    &kp RCTRL  &kp RALT  &none
            >;
        };

        num_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                   &none            &none   &none    &none      &none      &none
&trans  &trans  &trans  &trans  &trans  &trans                   &kp KP_DIVIDE    &kp N7  &kp N8   &kp N9     &kp MINUS  &none
&trans  &trans  &trans  &trans  &trans  &trans                   &kp KP_MULTIPLY  &kp N4  &kp N5   &kp N6     &kp PLUS   &none
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &none  &kp CARET        &kp N1  &kp N2   &kp N3     &kp EQUAL  &none
                &trans  &trans  &trans  &trans  &trans    &none  &none            &kp N0  &kp DOT  &kp MINUS
            >;

            label = "num";
        };

        fn_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "fb";
        };

        media_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "media";
        };

        sym_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "sym";
        };

        nav_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "nav";
        };
    };
};
